@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  font-family: "Roboto Condesed" sans-serif;
}


.section {
  padding: 100px 0;
  position: relative;
}
.gray-bg {
  background-color: #f5f5f5;
}
.section-title h2 {
  font-weight: 700;
  color: #20247b;
  font-size: 45px;
  margin: 0 0 15px;
  border-left: 5px solid #fc5356;
  padding-left: 15px;
}
.section-title {
  padding-bottom: 45px;
}
.section-title p {
  margin: 0;
  font-size: 18px;
}

/* Resume Box
---------------------*/
.resume-box {
background: #ffffff;
box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.08);
border-radius: 10px;
}
.resume-box ul {
margin: 0;
padding: 30px 20px;
list-style: none;
}
.resume-box li {
position: relative;
padding: 0 20px 0 60px;
margin: 0 0 30px;
}
.resume-box li:last-child {
margin-bottom: 0;
}
.resume-box li:after {
content: "";
position: absolute;
top: 0px;
left: 20px;
border-left: 1px dashed #fc5356;
bottom: 0;
}
.resume-box .icon {
width: 40px;
height: 40px;
position: absolute;
left: 0;
right: 0;
color: #fc5356;
line-height: 40px;
background: #ffffff;
text-align: center;
z-index: 1;
border: 1px dashed;
border-radius: 50%;
}
.resume-box .time {
background: #fc5356;
color: #ffffff;
font-size: 10px;
padding: 2px 10px;
display: inline-block;
margin-bottom: 12px;
border-radius: 20px;
font-weight: 600;
}
.resume-box h5 {
font-weight: 700;
color: #20247b;
font-size: 16px;
margin-bottom: 10px;
}
.resume-box p {
margin: 0;
}

.resume-box li:after {
  content: "";
  position: absolute;
  top: 0px;
  left: 20px;
  border-left: 1px dashed #fc5356;
  bottom: 0;
}

/* ...................Nav Bar.................... */
nav{
  z-index: 2;
}
.logo {
  width: 16.25rem;
}

/* ..................Menu Links................... */

nav a.nav-link {
  /* font-weight: 500; */
  font-size: 0.8rem;
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: #fff !important;
  border-top: 0.1875rem solid rgba(255, 255, 255, 0);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 4rem !important;
}

@media(max-width:768px){
  .navbar-brand {
    width: 0rem;
  }
}

.navbar-nav > li > a.active,
.navbar-nav > li > a.active:focus {
  border-top: 0.1875rem solid #feab00;
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid #feab00;
}

/* ...................Header.................... */
.header-wraper {
  position: relative;
  background: url(background.jpg) no-repeat;

  background-size: cover;
  background-position: center;
  height: 90vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Roboto Condesed" sans-serif;
  z-index: 1;
}

.main-info h1 {
  color: #feab00;
  text-transform: uppercase;
}



/* ....................  Typed text .......................... */

.typed-text {
  font-size: 2rem;
  color: #fff;
}


@media(max-width:768px){
  .main-info h1 {
    font-size: 1.7rem !important;
  }

  .typed-text{
    font-size: 1.3rem !important;
  }
}
/* ......................Header main offer button .................... */

.btn-main-offer {
  border: 1px solid #ef4035;
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: #fff;
  margin: 2rem;

  /* #f33501 */
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: #f33501;
  transition: .02s ease-in-out;
}



/* particles .js

*/



.tsparticles-canvas-el {
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

@media(max-width:768px){
  .partical-canvas{
    display: none;
  }
}